<main>
  <div class="heading">
    <h1>{{user.username}}'s events</h1>
  </div>

<div class="users">
    {{#each events}}
      <div class="user">
        <a href="/events/{{id}}">{{name}}</a>
        <img src="{{eventImage}}" alt="" class="userPic">
        <sub>{{location.city}}, {{location.state}}</sub>
        <sub>{{summary}}</sub>
        <form action="/events/remove/{{../user.id}}/{{id}}" method="POST">
          <button class="buttony">leave event</button>
        </form>

      </div>
    {{/each}}
  </div>
</main>