<main>
  <div class="heading">
    <h1>find friends</h1>
  </div>
  <div>
      <form action="/user/filterfriends" method="POST" class="filterit">
    <p>Find friends by their condition or medications!</p>
    <label for="illness"></label>
    <input type="text" name="illness" id="illnessinput" placeholder="input illness/condition">
    
    <label for="medication"></label>
    <input type="text" name="medication" id="medicationinput" placeholder="input medication">
    <button class="buttony">filter!</button>
  </form>
  </div>



<div class="userinfo">

{{#each users}}
  <div class="user">
    <p>{{name}}</p>
    <a href="/user/profile/{{id}}">{{username}}</a>
    <img src="{{profilePic}}" alt="" class="userPic">
    <form action="/user/profile/addfriend" method="POST">
      <input type="hidden" name="friendID" value={{id}}>
      <button class="buttony">add</button>
    </form>
  </div>
  {{/each}}
</div>
</main>