<main>
  <div class="heading">
      <h1>Crohnicles of <a href="/user/profile/{{user.id}}">{{user.username}}</a></h1>
  </div>
  <div class="friendinfo">
    <div>
      {{#if user.profilePic}}
        <img src="{{user.profilePic}}" alt="Profile Pic" id="profilePic"><br>
      {{/if}}

      <p>{{user.name}}</p>
      <span class="badge"><b>{{user.type}}</b></span>
      <p>{{user.bio}}</p>
    </div>
   <div>
      <ul>
    {{#if user.illness}}
          <li><b>Conditions:</b></li>
      {{#each user.illness}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    {{/if}}
    {{#if user.medications}}
        <ul>
      <li><b>Medications:</b></li>
      {{#each user.medications}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    {{/if}}
   </div>
  </div>

<div class="allposts">
  {{#each posts}}
  <div class="single">
    <h1>{{title}}</h1>
    <p>{{date}}</p>
    <a href="/user/profile/{{authorID}}"><h3>{{author}}</h3></a>
    <img src="{{image}}" alt="">
        <p>{{body}}</p>
  </div>
{{/each}}
</div>

</main>

