<h1>Crohnicles of <a href="/user/profile/{{user.id}}">{{user.username}}</a></h1>

    <img src="{{user.profilePic}}" alt="Profile Pic" id="profilePic"><br>

    <p>{{user.name}}</p>
    <p>{{user.bio}}</p>

    <ul>
      <li>Conditions:</li>
      {{#each user.illness}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <ul>
      <li>Medications</li>
      {{#each user.medications}}
        <li>{{this}}</li>
      {{/each}}
    </ul>

{{#each posts}}
  <div class="single">
    <h1>{{title}}</h1>
    <a href="/user/profile/{{authorID}}"><h3>{{author}}</h3></a>
    <p>{{body}}</p>
    <img src="{{image}}" alt="">
  </div>
{{/each}}


