<h1>{{user.username}}'s groups</h1>

<div class="users">

{{#each groups}}
  <div class="user">
    <a href="/groups/{{id}}">{{name}}</a>
    <img src="{{groupImage}}" alt="" class="userPic">

    <form action="/groups/remove/{{../user.id}}/{{id}}" method="POST">
      <button>Leave Group</button>
    </form>

  </div>

{{/each}}
</div>