<main>
  <div class="rowit">
          {{#if user.profilePic}}
      <div>
        <img src="{{user.profilePic}}" alt="Profile Pic" id="profilePic"><br>
      </div>
    {{/if}}
      <div>
        <h1>crohnicles of {{user.username}}</h1>
      </div>
  </div>
<div class="">
    <div class="userinfo">

    {{!-- <div>
      <p>{{user.name}}</p>
      <p>{{user.bio}}</p>
    </div> --}}
  </div>

    <div class="post">
        <form action="/post/create" method="POST" enctype="multipart/form-data">
       <p>Share something...</p>
          <div>
            <label for="title"></label>
            <input type="text" name="title" placeholder="give me a title"><br>
          </div>
          <div>          
            <label for="content"></label>
            <textarea name="content" id="content" cols="30" rows="10" placeholder="tell me something good."></textarea><br>
          </div>

          <div>
            <input type="file" name="photo" id="photo" class="inputfile" />
            <label for="photo">add a photo</label>
          </div>

          <button type="submit">share</button>
        </form> 
    </div>
</div>



  <div class="body">
    <div class="allposts">
      {{#each posts}}
        <div class="single">
          <a href="/post/single/{{id}}"><h1>{{title}}</h1></a>
          <p>{{date}}</p>
          <a href="/user/profile/{{authorID}}"><h3>{{author}}</h3></a>
          <img src="{{image}}" alt="">
          <p>{{body}}</p>
        

          {{#if iAmAdmin}}
          <div class="user-buttons">
            <form action="/post/edit/{{id}}" method="GET">
              <button class="buttony">Edit</button>
            </form>
            <form action="/post/delete/{{id}}" method="POST">
              <button class="buttony">delete</button>
            </form>
          </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</main>