<h1>Crohnicles of {{user.username}}</h1>
<main>
  <aside class="dash">
    <img src="{{user.profilePic}}" alt="Profile Pic" id="profilePic"><br>
    <p>{{user.illness}}</p>
    <p>{{user.medications}}</p>
    <a href="/user/friends">Friends</a><br>
    <a href="/user/findfriends">Find Friends</a><br>
    <a href="/groups">Find Groups</a><br>
    <a href="/events">Find Events</a><br>
    <a href="/user/edit">Edit Profile</a>
  </aside>
  <div class="body">
    <div>
      <p>{{user.name}}</p>
      <p>{{user.bio}}</p>
    </div>

    <div class="post">
        <form action="/post/create" method="POST" enctype="multipart/form-data">
          <p>Share something...</p>

          <label for="type">Type</label>
          <select name="type" id="type">
            <option value="Personal">Personal</option>
            <option value="Health">Health</option>
          </select><br>

          <label for="title">Title</label>
          <input type="text" name="title"><br>

          <label for="content">Content</label>
          <textarea name="content" id="content" cols="30" rows="10"></textarea><br>

          <label for="photo">Add Picture</label>
          <input type="file" name="photo"><br>

          <button type="submit">submit</button>
        </form>
        
    </div>

    <div>
      <p>show users posts and post from friends.</p>

      {{#each posts}}
        <div class="single">
          <h1>{{title}}</h1>
          <a href="/user/profile/{{authorID}}"><h3>{{author}}</h3></a>
          <p>{{body}}</p>
          <img src="{{image}}" alt="">

        </div>
      {{/each}}
    </div>
  </div>
</main>