<h1>Crohnicles of <a href="/groups/{{group.id}}">{{group.name}}</a></h1>




<div class="body">
      <div class="single">

        <img src="{{group.groupImage}}" alt="">
        <p>{{group.summary}}</p>
        <a href="/user/profile/{{group.admin.id}}"><p>{{group.admin.username}}</p></a>
        <ul>
        {{#each group.members}}
          <a href="/user/profile/{{id}}"><li>{{username}}</li></a>
        {{/each}}
        </ul>
        {{group.location.address}}
        {{group.location.city}}, {{group.location.state}} {{group.location.zipcode}}
      </div>
</div>