<main>
  <div class="heading">
  <h1>Crohnicles of the group <a href="/groups/{{group.id}}">{{group.name}}</a></h1>
  </div>

<div class="body">

  <div>
        <h1>{{group.name}}</h1>
        <img src="{{group.groupImage}}" class="groupImg" alt="">
        <p>admin: <a href="/user/profile/{{group.admin.id}}">{{group.admin.username}}</a></p>
        <ul>
          <li>members:</li>
        {{#each group.members}}
          <a href="/user/profile/{{id}}"><li>{{username}}</li></a>
        {{/each}}
        </ul>
        <address>
        {{group.location.address}}<br>
        {{group.location.city}}, {{group.location.state}} {{group.location.zipcode}}
        </address>



        {{#unless isMember}}
        <div class="pushright">
          <form action="/groups/join/{{group.id}}" method="POST">
              <button class="buttony">join</button>
          </form>
        </div>
        {{/unless}}

        {{#if isMember}}
          <div class="pushright">
          <form action="/groups/remove/{{user.id}}/{{group.id}}" method="POST">
            <button class="buttony">leave group</button>
          </form>
          </div>
        {{/if}}

          {{#if admin}}
        <div class="pushright">
            <a href="/groups/edit/{{group.id}}" class="buttony">Edit</a>
        </div>
          {{/if}}

        {{#if isMember}}
  </div>


<div class="groupcontent">
      <p>{{group.summary}}</p>
      <div id="addcomment">
        <form action="/groups/comment/{{group.id}}" method="POST">
          <div>          
            <label for="content"></label>
            <textarea name="content" id="content" cols="30" rows="10" placeholder="add a comment to the group."></textarea><br>
          </div>

          <button class="buttony">share</button>
        </form> 
    </div>

    {{/if}}




    <div id="comments">
        <h1>group comments</h1>
        {{#each group.comments}}
            <div class="comment">
              <a href="/user/profile/{{authorID}}"><p><b>{{author}}</b></p></a>
              <sub>{{date}}</sub>
          <p>{{this.body}}</p>
            </div>
        {{/each}}
      </div>
</div>
      
</div>

</main>

{{!-- 
        <p>group admin: <a href="/user/profile/{{admin.id}}">{{admin.username}}</a></p>
        <ul>
          <li>members:</li>
        {{#each members}}
          <a href="/user/profile/{{id}}"><li>{{username}}</li></a>
        {{/each}}
        </ul>
        {{location.address}}
        {{location.city}}, {{location.state}} {{location.zipcode}}

    {{#if isMember}}
        <form action="/groups/remove/{{../user.id}}/{{id}}" method="POST">
          <button class="buttony">leave group</button>
        </form>

    {{/if}} --}}