<main>
  <div class="heading">
    <h1>find a group</h1>
  </div>

<div class="users">
    {{#each groups}}
      <div class="user">
        <a href="/groups/{{id}}">{{name}}</a>
        {{#if groupImage}}
        <img src="{{groupImage}}" alt="" class="group picture">
        {{/if}}
        <sub>{{location.city}}, {{location.state}}</sub>
        <p>{{summary}}</p>
      </div>
    {{/each}}
  </div>
</main>